Working alone with Programming with Data: Python and Pandas LiveLessons O'Reilly course

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([6,8,7,5])

In [3]:
s

0    6
1    8
2    7
3    5
dtype: int64

In [4]:
s.astype(np.float64)

0    6.0
1    8.0
2    7.0
3    5.0
dtype: float64

In [5]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
s.array

<PandasArray>
[6, 8, 7, 5]
Length: 4, dtype: int64

In [7]:
s1 = pd.Series([6,8,7,5], index = ['b','d','c','a'])

In [8]:
s1

b    6
d    8
c    7
a    5
dtype: int64

In [9]:
s1.index

Index(['b', 'd', 'c', 'a'], dtype='object')

In [10]:
s2 = pd.Series({'b':6, 'd':8, 'c':7, 'a':5})

In [11]:
s2

b    6
d    8
c    7
a    5
dtype: int64

In [12]:
s3 = pd.Series({'MSFT':200, 'APPL':20, 'GOOG':100})

In [13]:
s3

MSFT    200
APPL     20
GOOG    100
dtype: int64

In [14]:
s3.loc['MSFT']

200

In [15]:
s3.iloc[1]

20

In [16]:
s

0    6
1    8
2    7
3    5
dtype: int64

In [17]:
s.iloc[0]

6

In [18]:
s[0]

6

In [19]:
s1

b    6
d    8
c    7
a    5
dtype: int64

In [20]:
s1.iloc[0]

6

In [21]:
s1[0]

6

In [22]:
s1['b']

6

In [23]:
s1.loc['b']

6

In [24]:
s2

b    6
d    8
c    7
a    5
dtype: int64

In [25]:
s2[['a','c']]

a    5
c    7
dtype: int64

In [26]:
s2.loc[['a','c']]

a    5
c    7
dtype: int64

In [27]:
s4 = pd.Series({3:6, 2:8, 7:7, 0:5})

In [28]:
s4[0]

5

In [29]:
s4.iloc[0]

6

In [30]:
s4.loc[0]

5

In [31]:
s4

3    6
2    8
7    7
0    5
dtype: int64

In [32]:
s5 = pd.Series([6, 8, np.nan, 7], dtype='Int64') #fails with 'int64'

In [33]:
s5

0       6
1       8
2    <NA>
3       7
dtype: Int64

In [34]:
s6 = pd.Series([6, 8, np.nan, 7])

In [35]:
s6

0    6.0
1    8.0
2    NaN
3    7.0
dtype: float64

In [36]:
s5.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [37]:
s5.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [38]:
s7 = pd.Series({3:6, 2:8, 7:np.nan, 0:5})

In [39]:
s7

3    6.0
2    8.0
7    NaN
0    5.0
dtype: float64

In [40]:
s8 = pd.Series({3:6, 2:8, 7:np.nan, 0:5}, dtype='Int64')

In [41]:
s8

3       6
2       8
7    <NA>
0       5
dtype: Int64

In [42]:
s8.isnull()

3    False
2    False
7     True
0    False
dtype: bool

In [43]:
s5 = pd.Series([6,8,7,5], index=list('abcd'))

In [44]:
s5

a    6
b    8
c    7
d    5
dtype: int64

In [45]:
s6 = pd.Series([1,2,3,np.nan,5], index=list('abcde'), dtype='Int64')

In [46]:
s6

a       1
b       2
c       3
d    <NA>
e       5
dtype: Int64

In [47]:
s5 + s6

a     7.0
b    10.0
c    10.0
d     NaN
e     NaN
dtype: float64